@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    background-color:  #f1f3fb;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.cadastrarusuario-div{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 2px solid #662d91;
    background-color: #fff;
    width: 25%;
    margin-top: 15%;
    margin-left: 38%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form{
    display: flex;
    flex-direction: column;
}
.titulo{
    margin-left: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    
}
.cadastrarusuario-input{
    margin-bottom: 5%;
    border: none;
    border-bottom: 2px solid #eee;
    background-color: transparent;
    width: 50%;
    margin-left: 10%;
    &:focus{
        outline: 0;
        border-bottom-color: #6658d3;
    }
}

.button{
   
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #007ACC;
  outline: 3px #007ACC solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  width: 30%;
  margin-bottom: 10%;
  margin-left: 35%;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: #007ACC;
}

.button:hover svg path {
  fill: #007ACC;
}

.usuario-div{
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 2px solid #662d91;
  background-color: #fff;
  width: 25%;
  margin-top: 15%;
  margin-left: 38%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nome-usuario, .sobrenome-usuario, .endereço-usuario, .email-usuario{
  display: flex;
  flex-direction: row;
  
  margin-left: 2%;
  margin-bottom: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 95%;
}